* {
	margin: 0;
	padding: 0;
}

html,
body {
	background: #d2d5d6;
	height: 100%;
	font-family: 微软雅黑, sans-serif;
	-webkit-font-smoothing: antialiased;
}

span {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 50px;
}

.mui-content {
	width: 100%;
	background: #eef1f2;
	overflow: hidden;
	/*position: relative;*/
}

.mui-bar-nav~.mui-content {
	padding: 0px !important
}

.mui-bar {
	background-color: transparent !important;
	color: #fff;
	box-shadow: none !important;
}

.box {
	width: 100%;
	height: 100%;
	z-index: 1;
	filter: blur(15px);
}

.pic {
	width: 310px;
	height: 310px;
	border-radius: 50%;
	position: relative;
	margin: 30px auto 0px;
	display: none;
}

.mask {
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, .3);
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
}

.author {
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
}

.music-type {
	text-align: center;
	color: #fff;
}

.musicbg {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	position: absolute;
	left: 5px;
	top: 5px;
}

.background {
	width: 300px;
	height: 300px;
	margin: 10px auto;
	position: relative;
	text-align: center;
	border-radius: 50%;
	/*border: 5px solid #333;*/
	z-index: 999;
	/*animation: run 5s linear infinite forwards;*/
}

.background:before {
	/*position: absolute;*/
	content: "";
	width: 310px;
	height: 310px;
	background: #000;
	opacity: 0.8;
	margin-top: -5px;
	border-radius: 50%;
	z-index: 1;
}

.background .music-lyric {
	width: 100%;
	height: 230px;
	padding: 20px 0;
	background-color: rgba(100, 100, 100, 0.5);
	display: none;
}

.transfrom {
	animation: run 12s linear infinite forwards;
}

@-webkit-keyframes run {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes run {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.swiper-slide .music-lyric .lyric-view {
	height: 230px;
	overflow: hidden;
}

.swiper-slide .music-lyric ul {
	position: absolute;
	transition: all 1s;
	width: 100%;
	margin: 10px auto;
	overflow: hidden;
}

.lyric li {
	list-style: none;
	padding: 5px 0 2px 0;
	position: relative;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
	transition: all 1s;
}

.lyric li.active {
	font-size: 13px;
	color: #ffffff;
}


/*.content{
	height: 100px;
	width: 400px;
	padding: 20px 20px 10px 20px;
}*/

.content .music-message {
	display: inline-block;
	width: 280px;
	height: 100%;
}

.content .music-message p {
	cursor: default;
}

.content .music-name {
	font-weight: bold;
	font-size: 26px;
	color: #455569;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.content .musicer {
	font-weight: bold;
	font-size: 18px;
	color: #455569;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.content .record {
	font-size: 14px;
	color: #455569;
	margin-top: 4px;
}

.content .music-icon {
	float: right;
	width: 80px;
	height: 50px;
	line-height: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	margin-top: 20px;
}

#red {
	color: #DD524D;
}

.content .music-icon a,
.content .music-icon span {
	margin-left: 10px;
	font-size: 22px;
}

span.colored,
a.colored {
	color: #ccc;
}

span.stared {
	color: #feec98
}

span.loved {
	color: #fe8698
}

.content .music-icon span:hover {
	text-shadow: 1px 1px 1px #ccc;
}

.tool {
	width: 100%;
	height: 30px;
	margin-top: 70px;
	position: relative;
	color: #fff;
}

.currentTime {
	position: absolute;
	top: 0px;
	left: 10px;
}

.durationTime {
	position: absolute;
	top: 0px;
	right: 10px;
}

.baseBox {
	position: absolute;
	top: 9px;
	width: 70%;
	left: 15%;
	display: block;
	/*margin: 0px auto;*/
}

.basebar {
	display: block;
	border: none;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: #414141;
	position: relative;
}

.basebar .progressbar {
	display: block;
	border: none;
	width: 0%;
	height: 4px;
	border-radius: 2px;
	background-color: #cdd2d7;
}

.controls {
	width: 100%;
	height: 50px;
	padding: 40px auto;
	margin: 40px auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.controls .play-control {
	width: 100%;
	height: 50px;
	text-align: center;
	/*position: absolute;*/
}

.play-control ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.play-control ul li {
	height: 50px;
	width: 20%;
	text-align: center;
	line-height: 50px;
	float: left;
}

.play-control .ChannelList {
	width: 20%;
	height: 200px;
	position: absolute;
	right: 0;
	background: red;
	bottom: 100%;
	opacity: .4;
}

.ChannelList:after {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	bottom: 0px;
	background: #fff;
}

.ChannelList ul {
	width: 100px;
	list-style: none;
}


/*.play-control span{
	margin-right: 30px;
}*/

.controls .play-control,
.music-control {
	display: inline-block;
}

.controls .play-control .btn1 {
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 2px solid #2AC845;
	color: #2AC845;
	font-size: 20px;
	text-align: center;
	line-height: 48px;
}


.btn3 {
	display: inline-block;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 2px solid #2AC845;
	color: #2AC845;
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	line-height: 38px;
}
.btn2{
	border: 1px solid #2AC845;
	padding: 2px 4px;
	color: #2AC845;
	border-radius: 5%;
}
.controls .music-control {
	float: right;
	line-height: 38px;
	margin-right: 10px;
}

.controls .music-control span {
	margin-left: 10px;
	font-size: 22px;
}

.controls .music-control span:hover {
	text-shadow: 1px 1px 1px #ccc;
}

.controls .music-control span.lyriced {
	color: #414141
}

.controls .music-control span.recycleed {
	color: #414141
}

.timer {
	color: #333;
	width: 100%;
	position: absolute;
	bottom: 15px;
	text-align: right;
	display: none;
}

.timer span {
	font-size: 14px !important;
}

.swiper-container {
	height: 420px;
	padding: 10px;
}

.swiper-pagination {
	bottom: 0px !important;
}

.swiper-pagination-bullet-active {
	background: #2AC845 !important;
}

.swiper-container {
	padding: 0 !important;
}

.mui-plus header.mui-bar {
	display: none!important;
}

.mui-plus .mui-bar-nav~.mui-content {
	padding: 0!important;
}

.mui-plus .plus {
	display: inline;
}

.plus {
	display: none;
}

#topPopover {
	position: fixed;
	top: 16px;
	right: 6px;
}

#topPopover .mui-popover-arrow {
	left: auto;
	right: 6px;
}

.mui-popover {
	height: 180px;
	width: 100px;
	background: # currentcolor !important;
	border: 1px solid #2AC845;
}

.mui-content {
	/*padding: 10px;*/
}

.mui-table-view {
	width: 100px;
	background: transparent !important;
}
.mui-table-view-cell{
	width: 100%;
	padding: 11px 0px !important;
	text-align: center !important;
	color: #2AC845 !important;
	/*opacity: ;*/
}
.mui-table-view-cell:after{
	left: 0px;
	background: #2AC845;
	
}
